
html {
    font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
}

body {
    margin: 50px;
    background-color: lightgray;
}

header {
background-color: lightslategray;
color: white;
padding: 3rem 2rem;
border-radius: 15px ;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

#lateral {
    margin-top: 5px;
    padding-left: 1rem;
    background-color: rgba(128, 128, 128, 0.623);
    width: 25%;
    border-radius: 15px; 
    padding-bottom: 1px;
}

#central {
    font-size: 1.2rem;
    margin-top: 5px;
    padding-left: 1rem;
    background-color:aliceblue;
    width: 72%;
    float: right;
    border-radius: 15px;
}

#central h1{
    font-size: 3rem;
}

#central a:hover{
    color:blue;
    text-decoration: none;
}

.imagenredonda {
    margin-top: 20px;
    margin-left: 60px;
    width:180px;
    height:180px;
    border-radius:90px;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.623);
}

#imprimir {
    font-size: 1.5rem;
    margin-top: 0%;
    margin-left: 300px;
    padding-left: 2rem;
    padding-bottom: 5px;
    }

#boton {
    border-radius: 15px;
    border-color: rgba(128, 128, 128, 0.76);
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

#boton:hover{
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#pie {
    background-color: grey;
    color: white;
    height: 150px;
    border-radius: 15px;
    margin-top: 5px;
}

#pie p {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
}

#arriba {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 20px;
    color: blue;
}

footer a:hover {
    color:blue;
    text-decoration: none;
}